/*---------- GENERAL ----------*/
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format('woff2'),
       url("../fonts/gilroyextrabold.woff") format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroylight.woff2") format('woff2'),
       url("/fonts/gilroylight.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}

body,
.inner-page {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper-inner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  padding: 0 25px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 2px;
}

.button::before {
  content: "";
  width: calc(100%);
  height: 8px;
  background-color: #f0c52e;
}

.button:hover {
  padding: 10px 25px;
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/*------------ HEADER -----------*/

.page-header {
  padding: 0 60px;
  background-color: #f7e296;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-items-search input,
.header-items .submit,
.user-link {
  font-family: inherit;
  background-color: transparent;
  border: transparent;
}

.header-items-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-items-search:hover input::placeholder {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.header-items-search:focus input::placeholder {
  color: #000000;
  cursor: pointer;
}

.header-items-search input:focus {
  border-bottom: 2px solid #000000;
  outline: none;
}

.header-items-search:focus .submit {
  border: 2px solid #000000;
}

.header-items-search .submit:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

.header-items-search .submit:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #000000;
  outline: none;
}

.header-items,
header nav,
.header-nav-sub,
.header-nav-list {
  display: flex;
}

.user-link {
  color: #000000;
  transition: 0.4s;
}

.user-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.header-nav-catalog,
.header-nav-list {
  padding: 0;
  list-style: none;
}

.catalog-product-button,
.header-nav-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  transition: 0.4s;
}

.header-nav-catalog a:hover,
.header-nav-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-nav-catalog a:active,
.header-nav-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-nav-sub ul {
  list-style: none;
}

.header-nav-sub a {
  line-height: 36px;
  text-transform: none;
  color: #000000;
}

/*------------ SLIDER ----------*/

.slider-info h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
}

.slide {
  display: flex;
}

.slider-img {
  width: 560px;
}

.device-parameters-value  td {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.device-parameters-name td {
  font-size: 13px;
  line-height: 20px;
}

/*------------POPULAR -----------*/

.popular {
  display: flex;
  justify-content: space-between;
}

.popular-item {
  width: 160px;
}

.popular-item p {
  width: 160px;
  height: 160px;
  text-align: center;
  line-height: 160px;
}

.popular-item img {
  vertical-align: middle;
}

.popular a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.popular-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-item-img {
  background-color: #f7e296;
  transition: 0.4s;
}

.popular-item-img:hover {
  background-color: #f0c52e;
}

.popular-item-img:active img {
  opacity: 0.3;
}

/*------------ SERVICES -----------*/

.services .wrapper-inner {
  display: flex;
}
.controls-services {
  display: flex;
  flex-direction: column;
}

.slider-services h2,
.info h2,
.contact h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.controls-services .button:active {
  color: #f7e184;
  background-color: #000000;
}

/*------------ LOGOTYPES -----------*/

.logotypes {
  display: flex;
  justify-content: center;
}

.logotypes-item {
  width: 260px;
  height: 100px;
  text-align: center;
  opacity: 0.2;
  transition: 0.4s;
}

.logotypes-item:hover img {
  opacity: 0;
}

.logotypes-img-dgi:hover  {
  background-image: url("../img/logotypes-Dji-hover.jpg");
  opacity: 1;
}

.logotypes-img-spgadgest:hover {
  background-image: url("../img/logotypes-SPGadgest-hover.jpg");
  opacity: 1;
}

.logotypes-img-gopro:hover {
  background-image: url("../img/logotypes-GoPro-hover.jpg");
  opacity: 1;
}

.logotypes-img-vive:hover {
  background-image: url("../img/logotypes-vive-hover.jpg");
  opacity: 1;
}

/*------------ ABOUT-MARKET -----------*/

.about-market {
  display: flex;
  justify-content: space-between;
}

.company-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  list-style: none;
}

/*------------ FOOTER -----------*/

.page-footer {
  padding: 65px 0;
  background-color: #464646;
}

.footer-logo {
  transition: 0.4s;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-row-top,
.footer-row-center,
.footer-row-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer a,
.footer-row-center p {
  color: #ffffff;
}

.footer-user-account-options a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 36px;
  transition: 0.4s;
}

.footer-user-account-options a:hover {
  color: #ffffff;
}

.footer-user-account-options a:active {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.3);
}

.footer-nav-list {
  display: flex;
}

.footer-nav-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s;
}

.footer-nav-list a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav-list a:active {
  color: rgba(255, 255, 255, 0.3);
}

.htmlacademy-logo {
  background: url("../img/logo-html.svg") no-repeat;
  width: 26px;
  height: 34px;
  transition: 0.4s;
}

.htmlacademy-logo:hover {
  opacity: 0.6;
}

.htmlacademy-logo:active {
  opacity: 0.3;
}

.footer-row-bottom:before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

/*------------ MODAL-LOGIN   -----------*/

.modal-login-form .input,
.modal-login-form .textarea {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.modal-login-form input,
.modal-login-form textarea {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  background-color: #f2f2f2;
  border: none;
}

.modal-login-form input:hover,
.modal-login-form textarea:hover {
  background-color: #eaeaea;
  cursor: pointer;
}
.modal-login-form input:focus,
.modal-login-form textarea:focus {
  background-color: #ffffff;
  border: 2px solid #f7e296;
  outline: none;
  cursor: pointer;
}

.modal-login-form input:invalid {
  background-color: #f6dada;
  border: none;
}

.modal-login-form .input::placeholder,
.modal-login-form .textarea::placeholder{
  color: rgba(70, 70, 70, 0.4)
}

.modal-login-form .button-modal-form {
  background-color: transparent;
  border: transparent;
}

.button-modal-form:hover {
  padding: 10px 25px;
  background-color: #f0c52e;
}

.button-modal-form:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

/*---------------------  INNER-PAGE -----------------------------*/

/*------------ BREADCRUMBS   -----------*/

.wrapper-inner-breadcrumbs h1,
.wrapper-inner-breadcrumbs .breadcrumbs {
  padding: 0 60px;
}

.wrapper-inner-breadcrumbs h1 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs-list {
  display: flex;
  padding: 0;
  list-style: none;
}

.breadcrumbs-list a,
.breadcrumbs-current {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.breadcrumbs-list a:hover {
  color: rgba(0, 0, 0, 0.6)
}

.breadcrumbs-list a:active {
  color: rgba(0, 0, 0, 0.1)
}

/*------------ CATALOG   -----------*/

.catalog {
  display: flex;
}

.sorting h3,
.filters h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000;
}

/*------------ Filters   -----------*/

.filters {
  background-color: #efefef;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.price-limit label,
.price-limit input::placeholder {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.price-limit input {
  border: 0;
  background-color: transparent;
}

fieldset ul {
  list-style: none;
}

.filter-input {
  font-family: inherit;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  color: #000000;
}

input[type="checkbox"]:disabled .filter-input {
  color: #a6a6a6;
}

.filter-button {
  background-color: transparent;
  border: none;
}

/*------------ Sorting   -----------*/

.sorting-list-left,
.sorting-list-right,
.catalog-list {
  list-style: none;
}

.sorting-list-left,
.sorting-list-right {
  display: flex;
}

.sorting-list-left a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.sorting-list-left a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-left-item-current a,
.sorting-list-left a:active{
  color: #000000;
}

/*------------ Catalog-list   -----------*/

.product-item-wrapper {
  display: flex;
}

.product-item-wrapper h3 {
  margin: 0;
}

.product-item-wrapper a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.product-price {
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.compare {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5)
}

.compare:hover {
  color: #000000;
}

.compare:active {
  color: rgba(0, 0, 0, 0.2)
}

/*------------ Pagination   -----------*/

.pagination-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: #ebebeb;
  list-style: none;
}

.backward,
.forward {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000;
}

.pagination-item:first-child:hover,
.pagination-item:last-child:hover {
  background-color: #d9d9d9;
}

.pagination-item:first-child:hover,
.pagination-item:last-child:hover {
  background-color: #d9d9d9;
}

.backward:active,
.forward:active {
 color: rgba(0, 0, 0, 0.3);
}

.backward {
  margin-right: auto;
}

.forward {
  margin-left: auto;
}

.page-number {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.3);
}

.page-number:hover {
  color: rgba(0, 0, 0, 0.6);
}

.page-number:active,
.pagination-item-current {
  color: #000000;
}


