
/*------------------- HEADER ----------------------------*/

.header-items,
header nav,
.header-nav-sub,
.header-nav-list {
  display: flex;
}

/*------------------- SLIDER ----------------------------*/

/*------------------- POPULAR ----------------------------*/


