/*---------- GENERAL ----------*/
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format('woff2'),
       url("../fonts/gilroyextrabold.woff") format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroylight.woff2") format('woff2'),
       url("/fonts/gilroylight.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}

body > * {
  outline: 1px solid red;
}

body > * > * {
  outline: 1px dashed blue;
  outline-offset: -1px;
}

body > * > * > * {
  outline: 1px dashed green;
  outline-offset: -1px;
}

body > * > * > * > * {
  outline: 1px dashed gray;
  outline-offset: -1px;
}

body,
.inner-page {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}

html {
   box-sizing: border-box;
 }

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper-inner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-block;
  position: relative;
  padding: 8px 40px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 46px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s;
}

.button:before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  z-index: -1;
}

.button:hover {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/*------------ HEADER -----------*/

.page-header {
  padding: 40px 20px 0;
}

.header-inner {
  min-height: 300px;
  padding: 45px 60px;
  background-color: #f7e296;
  z-index: -100;
}

.header-logo {
  display: block;
  width: 180px;
  margin: -65px 0 20px 0;
 }

.header-logo[href]:hover {
  opacity: 0.6;
}

.header-logo[href]:active {
  opacity: 0.3;
}

.header-nav-catalog,
.header-nav-list,
.header-nav-sub ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-items,
header nav,
.header-nav-list {
  display: flex;
}

.header-items {
  margin: 0 0 35px 0;
}

.header-items-search,
.header-nav-catalog {
  width: 500px;
  margin: 0 40px 0 0;
}

.user-block,
.header-nav-list {
  display: flex;
  width: 500px;
}

.user-link-login {
  margin: 0 auto 0 0;
}

.header-items-search input,
.header-items .submit,
.user-link {
  font-family: inherit;
  background-color: transparent;
  border: transparent;
}

.header-items-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-items-search:hover input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-items-search:focus input::placeholder {
  color: #000000;
}

.header-items-search input:focus {
  border-bottom: 2px solid #000000;
  outline: none;
}

.header-items-search:focus .submit {
  border: 2px solid #000000;
}

.header-items-search .submit:hover {
  color: #ffffff;
  background-color: #000000;
}

.header-items-search .submit:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #000000;
  outline: none;
}

.user-link {
  color: #000000;
  transition: 0.4s;
}

.user-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-product-button,
.header-nav-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.4s;
}

.header-nav-catalog a:hover,
.header-nav-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-nav-catalog a:active,
.header-nav-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-nav-sub a {
  line-height: 36px;
  text-transform: none;
  color: #000000;
}

.header-nav-list li:first-child {
  margin: 0 35px 0 0;
}

.header-nav-list li:last-child {
  margin: 0 0 0 auto;
}

.header-nav-catalog {
  position: relative;
}

.header-nav-sub {
  position: absolute;
  left: -60px;
  display: none;
  width: 1160px;
  padding: 20px 60px 35px;
  background-color: #f7e296;
  z-index: 1;
}

.catalog-product-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 230px;
  width: 16px;
  height: 16px;
  background: url("../img/plus.svg");
  opacity: 0.3;
}

.catalog-product:hover .header-nav-sub {
  display: flex;
}

.header-nav-sub ul:first-child {
  width: 200px;
  margin: 0 40px 0 0;
}

.header-nav-sub ul:nth-child(2),
.header-nav-sub ul:last-child {
  width: 160px;
  margin: 0 40px 0 0;
}

/*------------ SLIDER ----------*/

.slider-device {
  position: relative;
  padding: 0 60px;
}

.slide {
  display: flex;
  position: relative;
  margin: -110px 0 95px 0;
}

.slide2,
.slide3{
  display: none;
}

.slide:before {
  content: "";
  position: absolute;
  top: 35px;
  left: 540px;
  width: 100px;
  height: 8px;
  background-color: #ffffff;
}

.slide:after {
  content: "01";
  position: absolute;
  top: -15px;
  right: -10px;
  font-family: "Gilroy";
  font-size: 180px;
  line-height: 180px;
  font-weight: 800;
  color: #ffffff;
  z-index: -1;
}

.controls-slider {
  display: flex;
  position: absolute;
  right: 80px;
  bottom: 155px;
}

.controls-slider label {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 0 0 0 20px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.controls-slider input:checked + label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.slider-img {
  width: 500px;
  margin: 0 40px 0 0;
  padding: 0 30px;
}

.slider-info {
  width: 560px;
  margin: 80px 0 0 0;
}

.slider-info h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
}

.slider-info h2,
.slider-info p {
  margin: 0;
}

.slider-info h2 {
  margin: 0 0 15px 0;
}

.slider-info p {
  width: 500px;
  margin: 0 0 50px 0;
  padding: 0 20px 0 0;
}

.device-parameters {
  margin: 55px 0 0 0;
}

.device-parameters-value  td {
  padding: 0 70px 0 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.device-parameters-name td {
  font-size: 13px;
  line-height: 20px;
}

/*------------POPULAR -----------*/

.popular {
  display: flex;
  justify-content: space-between;
  margin: 0 0 80px 0;
}

.popular-item {
  width: 160px;
}

.popular-item p {
  width: 160px;
  height: 160px;
  margin: 0 0 35px 0;
  text-align: center;
  line-height: 160px;
}

.popular-item img {
  vertical-align: middle;
}

.popular a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.popular-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-item-img {
  background-color: #f7e296;
  transition: 0.4s;
}

.popular-item-img:hover {
  background-color: #f0c52e;
}

.popular-item-img:active img {
  opacity: 0.3;
}

/*------------ SERVICES -----------*/

.services {
  margin: 0 0 180px 0;
  padding: 45px 0;
}

.services .wrapper-inner {
  position: relative;
  display: flex;
  align-items: center;
}

.controls {
  width: 280px;
  margin: 0 120px 0 0;
}

.controls-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services .wrapper-inner:after {
  content: "";
  position: absolute;
  left: 300px;
  width: 8px;
  height: 320px;
  background-color: #000000;
}

.controls-services .button {
  margin: 0 0 40px 0;
  padding: 0;
}

.controls-services .button:last-child {
  margin: 0;
}

.slider-services {
  width: 760px;
}

.slider-services h2,
.info h2,
.contact h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.controls-services .button:active {
  color: #f7e184;
  background-color: #000000;
}

.services-delivery {

  background: url("../img/delivery.svg") no-repeat;
  background-position: 550px top;
}

.services-security {
  display: none;
  background: url("../img/warranty.svg") no-repeat;
  background-position: 550px top;
}

.services-credit {
  display: none;
  background: url("../img/credit.svg") no-repeat;
  background-position: 550px top;
}

.services-description h2 {
  margin: 25px 0 30px 0;
}

.services-description p {
  width: 500px;
  padding: 0 70px 0 0;
}

/*------------ LOGOTYPES -----------*/

.logotypes {
  display: flex;
  justify-content: space-between;
  margin: 0 0 110px 0;
}

.logotypes-item {
  width: 260px;
  height: 100px;
  text-align: center;
  opacity: 0.2;
  transition: 0.4s;
}

.logotypes-item:hover {
  opacity: 1;
}

.logotypes-item:hover img {
  opacity: 0;
}

.logotypes-item-dgi:hover  {
  background-image: url("../img/logotypes-Dji-hover.jpg");
}

.logotypes-item-spgadgest:hover {
  background-image: url("../img/logotypes-SPGadgest-hover.jpg");
}

.logotypes-item-gopro:hover {
  background-image: url("../img/logotypes-GoPro-hover.jpg");
}

.logotypes-item-vive:hover {
  background-image: url("../img/logotypes-vive-hover.jpg");
}

/*------------ ABOUT-MARKET -----------*/

.about-market {
  display: flex;
  justify-content: space-between;
}

.company-list,
 .info {
  width: 560px;
}

.info {
  margin: 0 40px 0 0;
}

.about-market h2 {
  margin: 40px 0 45px 0;
}

.info p {
  margin: 0 0 30px 0;
}

.company-list {
  margin: 65px 0 0 0;
  padding: 0 0 0 35px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  list-style: none;
}

.contact p {
  margin: 0 0 40px 0;
}

.contact-map {
  display: inline-block;
}

.about-market .button {
  display: inline-block;
  margin: 65px 0 90px 0;
}

/*------------ FOOTER -----------*/

.page-footer {
  padding: 65px 0;
  background-color: #464646;
}

.footer-logo[href] {
  transition: 0.4s;
}

.footer-logo[href]:hover {
  opacity: 0.6;
}

.footer-logo[href]:active {
  opacity: 0.3;
}

.footer-logo {
  height: 36px;
}

.footer-row-top,
.footer-row-center,
.footer-row-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-row-top {
  align-items: center;
  margin: 0 0 30px 0;
}

.page-footer a,
.footer-row-center p {
  color: #ffffff;
}

.footer-row-center p,
.footer-row-center ul {
  margin: 0;
  padding: 0;
}

.footer-user-account-options {
  display: flex;
  justify-content: space-between;
  width: 330px;
}

.footer-user-account-options a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 36px;
  transition: 0.4s;
}

.footer-user-account-options a:hover {
  color: #ffffff;
}

.footer-user-account-options a:active {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.3);
}

.footer-row-center {
  margin: 0 0 60px 0;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.footer-nav-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s;
}

.footer-nav-list a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav-list a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-row-bottom {
  align-items: center;
}

.footer-row-bottom .social {
  display: flex;
  margin: 0;
  padding: 0;
}

.htmlacademy-logo {
  background: url("../img/logo-html.svg") no-repeat;
  width: 26px;
  height: 34px;
  transition: 0.4s;
}

.htmlacademy-logo:hover {
  opacity: 0.6;
}

.htmlacademy-logo:active {
  opacity: 0.3;
}

.footer-row-bottom:before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

/*------------ MODAL-LOGIN   -----------*/

.modal-login-form .input,
.modal-login-form .textarea {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.modal-login-form input,
.modal-login-form textarea {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  background-color: #f2f2f2;
  border: none;
}

.modal-login-form input:hover,
.modal-login-form textarea:hover {
  background-color: #eaeaea;
  cursor: pointer;
}
.modal-login-form input:focus,
.modal-login-form textarea:focus {
  background-color: #ffffff;
  border: 2px solid #f7e296;
  outline: none;
  cursor: pointer;
}

.modal-login-form input:invalid {
  background-color: #f6dada;
  border: none;
}

.modal-login-form .input::placeholder,
.modal-login-form .textarea::placeholder{
  color: rgba(70, 70, 70, 0.4)
}

.modal-login-form .button-modal-form {
  background-color: transparent;
  border: transparent;
}

.button-modal-form:hover {
  padding: 10px 25px;
  background-color: #f0c52e;
}

.button-modal-form:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

/*---------------------  INNER-PAGE -----------------------------*/

.inner-page .header-inner {
  min-height: 185px;
}

/*------------ BREADCRUMBS   -----------*/
.breadcrumbs {
  margin: 0 0 40px 0;
}

.wrapper-inner-breadcrumbs h1,
.wrapper-inner-breadcrumbs .breadcrumbs {
  padding: 0 60px;
}

.page-title {
  margin: 40px 0 20px 0;
}

.wrapper-inner-breadcrumbs h1 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-list a,
.breadcrumbs-current {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.breadcrumbs-list a:hover {
  color: rgba(0, 0, 0, 0.6)
}

.breadcrumbs-list a:active {
  color: rgba(0, 0, 0, 0.1)
}

/*------------ CATALOG   -----------*/

.catalog {
  display: flex;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.sorting h3,
.filters h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000;
}

/*------------ Filters   -----------*/

.filters {
  width: 360px;
  margin: 0 40px 0 0;
  padding: 0 32px 0 60px;
  background-color: #efefef;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.price-limit label,
.price-limit input::placeholder {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.price-limit input {
  border: 0;
  background-color: transparent;
}

fieldset ul {
  list-style: none;
}

.filter-input {
  font-family: inherit;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  color: #000000;
}

input[type="checkbox"]:disabled .filter-input {
  color: #a6a6a6;
}

.filter-button {
  background-color: transparent;
  border: none;
}

/*------------ Sorting   -----------*/
.sorting {
  display: flex;
  align-items: center;
}

.filters h3,
.sorting h3 {
  margin: 0;
}

.sorting-list-left,
.sorting-list-right,
.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-list-left,
.sorting-list-right {
  display: flex;
}

.sorting-list-left a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.sorting-list-left a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-left-item-current a,
.sorting-list-left a:active{
  color: #000000;
}

/*------------ Catalog-list   -----------*/

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 800px;
}

.product-item {
  width: 360px;
}

.product-item-wrapper {
  display: flex;
}

.product-item-wrapper h3 {
  margin: 0;
}

.product-item-wrapper a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.product-price {
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.compare {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5)
}

.compare:hover {
  color: #000000;
}

.compare:active {
  color: rgba(0, 0, 0, 0.2)
}

/*------------ Pagination   -----------*/

.pagination-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: #ebebeb;
  list-style: none;
}

.backward a,
.forward a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000;
}

.pagination-item:first-child:hover,
.pagination-item:last-child:hover {
  background-color: #d9d9d9;
}

.pagination-item:first-child:hover,
.pagination-item:last-child:hover {
  background-color: #d9d9d9;
}

.backward:active a,
.forward:active a {
 color: rgba(0, 0, 0, 0.3);
}

.backward {
  margin-right: auto;
}

.forward {
  margin-left: auto;
}

.page-number a {
  margin: 0 auto;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.3);
}

.page-number:hover a {
  color: rgba(0, 0, 0, 0.6);
}

.page-number:active a,
.pagination-item-current a {
  color: #000000;
}


