/*---------- GENERAL ----------*/
@font-face {
  font-family: "Gilroy ExtraBold", sans-serif;
  src: url("../fonts/gilroyextrabold.woff2")format('woff2'),
       url("../fonts/gilroyextrabold.woff")format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light", sans-serif;
  src: url("/fonts/gilroylight.woff2")format('woff2'),
       url("/fonts/gilroylight.woff")format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper-inner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  padding: 0 25px;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 2px;
}

.button::before {
  content: "";
  width: calc(100%);
  height: 8px;
  background-color: #f0c52e;
}

.button:hover {
  padding: 10px 25px;
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/*------------ HEADER -----------*/

.page-header {
  padding: 0 60px;
  background-color: #f7e296;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-items-search input,
.header-items .submit,
.user-link {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  background-color: transparent;
  border: transparent;
}

.header-items-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-items-search:hover input::placeholder {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.header-items-search:focus input::placeholder {
  color: #000000;
  cursor: pointer;
}

.header-items-search input:focus {
  border-bottom: 2px solid #000000;
  outline: none;
}

.header-items-search:focus .submit {
  border: 2px solid #000000;
}

.header-items-search .submit:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

.header-items-search .submit:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #000000;
  outline: none;
}

.header-items,
header nav,
.header-nav-sub,
.header-nav-list {
  display: flex;
}

.user-link {
  color: #000000;
}

.user-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.header-nav-catalog,
.header-nav-list {
  padding: 0;
  list-style: none;
}

.header-nav-catalog a,
.header-nav-list a {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.header-nav-catalog a:hover,
.header-nav-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-nav-catalog a:active,
.header-nav-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-nav-sub ul {
  list-style: none;
}

.header-nav-sub a {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  text-transform: none;
}

/*------------ SLIDER ----------*/

.slider-info h2 {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

.device-parameters-value  td {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.device-parameters-name td {
  font-size: 13px;
  line-height: 20px;
}

/*------------POPULAR -----------*/

.popular {
  display: flex;
  justify-content: space-between;
}

.popular-item {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.popular-item p {
  width: 160px;
  height: 160px;
  text-align: center;
  line-height: 160px;
}

.popular-item img {
  vertical-align: middle;
}

.popular a {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.popular-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-item-img {
  background-color: #f7e296;
}

.popular-item-img:hover {
  background-color: #f0c52e;
}

.popular-item-img:active img {
  opacity: 0.3;
}

/*------------ SERVICES -----------*/

.services .wrapper-inner {
  display: flex;
}
.controls-services {
  display: flex;
  flex-direction: column;
}

.slider-services h2,
.info h2,
.contact h2 {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.controls-services .button:active {
  color: #f7e184;
  background-color: #000000;
}

/*------------ LOGOTYPES -----------*/

.logotypes {
  display: flex;
  justify-content: center;
}

.logotypes-item {
  width: 260px;
  height: 100px;
  text-align: center;
  opacity: 0.2;
}

.logotypes-item:hover img {
  opacity: 0;
}

.logotypes-item:hover .logotypes-img-dgi {
  background-image: url("../img/logotypes-Dji-hover.jpg");
}

.logotypes-img-spgadgest:hover {
  background-image: url("../img/logotypes-SPGadgest-hover.jpg");
}

.logotypes-img-gopro:hover {
  background-image: url("../img/logotypes-GoPro-hover.jpg");
}

.logotypes-img-vive:hover {
  background-image: url("../img/logotypes-vive-hover.jpg");
}

/*------------ ABOUT-MARKET -----------*/

.about-market {
  display: flex;
  justify-content: space-between;
}

.company-list {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  list-style: none;
}

/*------------ FOOTER -----------*/

.page-footer {
  padding: 65px 0;
  background-color: #464646;
}

.footer-row-top,
.footer-row-center,
.footer-row-bottom {
  display: flex;
  justify-content: space-between;
}

.page-footer a,
.footer-row-center p {
  color: #ffffff;
}

.footer-user-account-options a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 36px;
}

.footer-user-account-options a:hover {
  color: #ffffff;
}

.footer-user-account-options a:active {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.3);
}

.footer-nav-list {
  display: flex;
}

.footer-nav-list a {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-nav-list a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav-list a:active {
  color: rgba(255, 255, 255, 0.3);
}

.htmlacademy-logo:before {


}


/*---------------------  INNER-PAGE -----------------------------*/


